

#key1{

    color: #26FED7; 
    font-size: 1rem;
    font-weight: 700;
    height: 43px;
    width: 43px;
    text-align: center;
    background-color: var(--color2);
    border-radius: 1rem;
    border: none;
  /* box-shadow: inset 0px 0px 8px grey; */

}